@import "../../../general-style/variable";

.authHeade {
  //   padding: 18.5px 0;
  //   background-color: #f4f4f4;
  .authHeade-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .authHeader-left {
      .img {
        width: 120px;
        height: 70px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .authHeader-right {
      p {
        cursor: pointer;
        font-family: $fontFamily;
        font-weight: 600;
      }
    }
  }
}
