@import "../../../general-style/variable";

.join-us-form {
  background-color: $sectionBG;
  .content {
    display: flex;
    width: 100%;
    padding: 5rem 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .content-left {
      width: 50%;
      padding-right: 100px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding-right: 0;
      }
      h3 {
        font-size: 22px;
        font-family: $fontFamily;
        span {
          color: $primaryColor;
          font-family: $fontFamily;
        }
      }
      p {
        font-size: 14px;
        font-family: $fontFamily;
        text-align: justify;
        padding-bottom: 10px;
      }
      .address {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: $fontFamily;
        font-size: 13px;
        margin-bottom: 10px;
        .address-icon {
          background-color: $primaryColor;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 6px;
          font-size: 20px;
          color: $whiteColor;
        }
      }
      .email {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 13px;
        font-family: $fontFamily;
        .email-icon {
          // background-color: black;
          background-color: $primaryColor;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 6px;
          font-size: 7px !important;
          color: $whiteColor;
        }
      }
    }
    .content-right {
      width: 50%;
      padding: 0 50px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
        margin-top: 30px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input-group {
          display: flex;
          flex-direction: column;
          gap: 3px;
          label {
            font-family: $fontFamily;
            font-weight: 600;
            font-size: 16px;
          }
          .input {
            height: 45px;
            padding: 0 10px;
            background: transparent;
            border: 1px solid $secondaryColor;
            border-radius: 8px !important;
            font-family: $fontFamily;
            font-size: 12px;
            color: $secondaryColor;
            &::placeholder {
              font-size: 12px;
              font-family: $fontFamily;
            }
            &:focus {
              outline: $primaryColor;
            }
          }
          .error {
            font-family: $fontFamily;
            color: red;
            font-size: 11px;
          }
        }
      }
      .btn-contact {
        margin-top: 20px;
      }
    }
  }
}
