@import "../../general-style/variable";

.our-solutions {
  background-color: #292a2f;
  color: $whiteColor;

  .our-solution-content {
    display: flex;
    align-items: center;
    p {
      font-family: $fontFamily;
      width: 30%;
      font-size: 20px;
      position: relative;
      @media screen and (max-width: 1360px) {
        width: 40%;
      }
      @media screen and (max-width: 1200px) {
        width: 50%;
      }
      @media screen and (max-width: 540px) {
        font-size: 14px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin: 0;
      li {
        padding: 25px 20px;
        font-family: $fontFamily;
        cursor: pointer;
        @media screen and (max-width: 540px) {
          font-size: 12px;
        }
      }
    }
  }
}
