@import "../../general-style/variable";

.our-solutions {
  // background-color: rgba(224, 224, 224, 0.4);
  background-color: #292a2f;
  // background-color: $secondaryColor;
  color: $whiteColor;
  // height: 10vh;
  // margin-top: -7px;

  .our-solution-content {
    display: flex;
    align-items: center;
    p {
      font-family: $fontFamily;
      width: 30%;
      font-size: 20px;
      position: relative;
      @media screen and (max-width: 1360px) {
        width: 40%;
      }
      @media screen and (max-width: 1200px) {
        width: 50%;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin: 0;
      li {
        padding: 25px 20px;
        font-family: $fontFamily;
        cursor: pointer;
      }
    }
  }
}
