@import "../../../general-style/variable";

.main-bg {
  background-image: url(../../../assets/svg/bg.png);
  height: 100vh;
  width: 100%;
  .login {
    // background-color: #f4f4f4;
    height: 91vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    form {
      background-color: rgb(241, 241, 241);
      width: 50%;
      padding: 40px 30px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      @media screen and (max-width: 540px) {
        width: 95%;
      }
      h2 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 24px;
      }
      .input-group {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        label {
          font-family: $fontFamily;
          font-weight: 600;
        }
        input {
          padding: 10px 10px;
          border: none;
          font-size: 12px;
          border: 1px solid #f4f4f4;
          &::placeholder {
            font-size: 12px;
            font-family: $fontFamily;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .login-btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
